<h1>All Articles</h1>

<%=render "articles/searchform" %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Posts</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
     
        <% @article.each do |data| %>
       <td><%= link_to data.title ,data %></td>
      
    </tr>
        </tbody>
        </table>
       <div class ="container">
        <%if data.image.present? %>

          <p>
            <%=image_tag (data.image) %>
          </p>
          </div>
        <%end %>


      <% end %>

<%= will_paginate(@article)%>