<h1>All Articles</h1>
<%#=form_tag articles_path ,method: :get do%>

  <%#=text_field_tag(:search,params[:search]) %>
  <%#=submit_tag("Search") %>
<%#end %>



<%=render 'articles/searchform' %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Posts</th>
      
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% @article.each do |data| %>
  <div style="float:left;margin-left:20px">
      <h3><%= link_to data.title ,data %></h3>





        <%if data.image.present? %>



      
      <%=image_tag (data.image) %>

          </div>
        <%end %>


      <% end %>
