<h1>All Articles</h1>
<%=render 'articles/searchform' %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Posts</th>
      
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="row">
<% @article.each do |data| %>
  <div style="float:left;max-width:250px;margin-left:20px">
    <h3><%= link_to data.title ,data %></h3>
    <%if data.image.present? %>
      <%=image_tag (data.image), style:"height:300px; width:200px" %>
      <%end %>
  </div>
<% end %>
</div>
<div>
<%= will_paginate(@article) %>
</div>

