<h1>All Articles</h1>




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Posts</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
     
        <% @article.each do |data| %>
       <td><%= link_to data.title ,data %></td>
      
    </tr>
      <% end %>
    </tbody>
    </table>